#main {
  display: flex; color:blue;
  flex-direction: column;width: max-content;
  align-items: center;text-align: justify;
}

#github-container {
  display: flex ;
  flex-wrap:wrap;

  };

  .flex-item-left {
   flex:50%

  }

  .flex-item-right {
   flex:50%

  }  

  /* Resonsive layout - makes a 
one column layout (100%)  instead of a teo-column layout (50%) */


@media (max-width:800px){

  .flex-item -right, .flex-item-left{
   flex:100%

  }

  
}


ul {
  list-style: square inside
  url("sqpurple.gif") ;
}